body{
    background-color: aqua;
}
h1{
    text-align: center;
    background-color: rgb( 255,168,124);
    border-radius:50px ;
    width: 500px;
    /* margin */
    margin: auto;
    margin-top: 25px;
}
h2{
    text-align: center;
}
img{
    /* 1.border */
    border: 2px solid black ;
    /* border shape */
    border-radius:25px ;
    width: 270px;
    height: 220px;
    margin-top: 15px;
    margin: 30px;
    margin-left: 100px;
}